


form.example{
  position:absolute;
  width: 800px;
  border-radius: 20px;
  margin-top:200px;
  left: 52.5%;
  transform: translateX(-50%);
}
form.example input[type=text] {
  
  width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;

 
  color: white;
  padding: 10px;
 
  float: left;
  width: 80%;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  transition: 0.5s;
}

form.example button:hover {
  transition: 0.5s;

  background: #00d1b2  ;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.navbar-menu.is-active{
  margin-top: -75px !important;
}
/* #searchbar[type="text"] {
  color: white !important; 
} */
#searchbar[type="text"]::placeholder {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: white !important; 
} 

/* #searchbar {
  color: rgba(255, 255, 255) !important;  

} */
#searchbar::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;  
}

#home-header{
  position: absolute;
  color:white !important;
  margin-top:100px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight:300
}

#home-img{
transform: scale(0.8);
}
.navbar{
  background-color: white !important;
 
  height:100px
}
.navbar-item{
  color:black !important;
  display: inline-block !important;
}

.navbar-item img{
  max-height: 130px !important;
}



.box{
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar{
  margin-top: -15px !important;
}
.navbar-start{
  margin-top: 35px !important;
  font-weight: 100 !important;
}

.navbar-item .buttons,.navbar-burger {
  margin-top: 25px !important;
 
}

#navlogo{
margin-top:23px;
}

.navbar a{

  color:black;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;

}

.navbar a:hover{
  background-color: transparent;
  color:grey !important;
  transition: 0.5s;
  text-decoration: underline;
  text-underline-offset: 15px;
}

.bg{
margin-top:-83px;
margin-left: 50px;
margin-right: 50px;

height:520px;
  background-image: url("../images/homesectionbg.jpg");
  background-size: cover;
background-position: center;
  border-radius: 25px;
}
.button.is-circle {
  border-radius: 50%;
  width:  40px;
  height: 40px;

 
}



.card-container {
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
 margin-left: 40px;
 margin-right: 80px;
overflow: hidden;
}

.containercenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}




@media only screen and (max-width: 1000px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   margin-left: 40px;
   margin-right: 80px;
  }
  form.example {
    margin-top: 350px;
    width: 75%;  
  }
}



@media only screen and (max-width: 1025px) {
 .navbar-start{
  margin-top: 55px !important;
  padding-left: 30px !important;
 }
 .navbar-end{
  padding-left: 30px !important;

 }
}

