


form.example{
  position:absolute;
  width: 800px;
  border-radius: 20px;
  margin-top:200px;
  left: 50%;
  transform: translateX(-50%);
}
form.example input[type=text] {
  
  width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;

 
  color: white;
  padding: 10px;
 
  float: left;
  width: 80%;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
  transition: 0.5s;
}

form.example button:hover {
  transition: 0.5s;

  background: #00d1b2  ;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
#searchbar[type="text"] {
  color: white !important; 
}
#searchbar[type="text"]::placeholder {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: white !important; 
}

#searchbar {
  color: rgba(255, 255, 255) !important;  
}
#searchbar::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;  
}

#home-header{
  position: absolute;
  color:white !important;
  margin-top:100px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-weight:300
}

#home-img{
transform: scale(0.8);
}
.navbar{
  background-color: transparent !important;

}
.navbar-item{
  color:black !important;
  display: inline-block !important;
}

.navbar-item img{
  max-height: 250px !important;
}



.box{
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-start{
  margin-top: 20px !important;
}

.navbar-item .buttons{
  margin-top: 10px !important;
}

#navlogo{
margin-top:-40px;
}

.navbar a{

  color:black;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;

}

.navbar a:hover{
  background-color: transparent;
  color:grey !important;
  transition: 0.5s;
  text-decoration: underline;
  text-underline-offset: 15px;
}

.bg{
margin-top:10px;
margin-left: 50px;
margin-right: 50px;
height:400px;
  background-image: url("../images/header2.jpeg");
  border-radius: 25px;
}
.button.is-circle {
  border-radius: 50%;
  width:  40px;
  height: 40px;

 
}



.card-container {
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
 margin-left: 40px;
 margin-right: 80px;
overflow: hidden;
}



@media only screen and (max-width: 1000px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
   margin-left: 40px;
   margin-right: 80px;
  }
}
