.cards{
  width: 250px;
  height: 500px;
}
.input {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  
}
input[type="text"] {
  color: white !important; 
}
input[type="text"]::placeholder {
  color: white !important; 
}

.input {
  color: rgba(255, 255, 255) !important;  
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;  
}

#home-header{
  margin-left: 50px !important;
  margin-top:190px;
  color:white !important
}

#home-img{
transform: scale(0.8);
}
.navbar{
  top:10px;
  background-color: transparent !important;

}
.navbar-item{
  color:white !important;
  display: inline-block !important;
}

.background{
  background: hsla(252, 51%, 15%, 1);

background: linear-gradient(-90deg, hsla(252, 51%, 15%, 1) 0%, hsla(270, 64%, 35%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(-90deg, hsla(252, 51%, 15%, 1) 0%, hsla(270, 64%, 35%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(-90deg, hsla(252, 51%, 15%, 1) 0%, hsla(270, 64%, 35%, 1) 100%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1B133B", endColorstr="#5A2093", GradientType=1 );
}

.box{
  background-color: rgba(255, 255, 255, 0.1);
}

#signinform{
  color:white;
}

.navbar a{

  color:white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;

}

.navbar a:hover{
  background-color: transparent;
  color:grey !important;
  transition: 0.5s;
  text-decoration: underline;
  text-underline-offset: 15px;
}
